## Environment variables example

## Backend API URL
NEXT_PUBLIC_API_URL="https://rose-app.elevate-bootcamp.cloud/api"

## NextAuth
NEXTAUTH_SECRET="791e489ac680804b0dd4c6d4544f355fa874809280374bd249943210df4742d0"
NEXTAUTH_URL="http://localhost:3000"